
@use './abstracts/' as *;

.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1550px;
    max-width    : 100%;
}

.tf-section2 {
    padding: 118px 0;
    @include transition3;
    position     : relative;
}

.tf-section {
    padding: 120px 0;
    @include transition3;
    position     : relative;
}

/* button 
--------------------------------------------------*/
.sc-button {
    display      : inline-block;
    // border       : 1px solid var(--primary-color2);
    color        : #fff;
    background-color: var(--primary-color2);
    box-sizing   : border-box;
    padding      : 0px 34px;
    height       : 50px;
    line-height  : 50px;
    @include transition3;
    span {
        font-weight       : 700;
        font-size         : 16px;
        position          : relative;
        text-transform    : capitalize;
        @include transition3;
    }
    &:hover,
    &.active {
        border-color: transparent;
        outline: 0 none;
        // box-shadow: 0px 14px 14px rgb(255 101 101 / 10%);
    }
}

.sc-button span,
.sc-button.btn-7:hover span {
    color: #fff;
}


.sc-button.btn-2:hover span {
    color: var(--primary-color2);
}

.sc-button.btn-2 {
    background-color: var(--primary-color3);
    &::after {
        background-color: var(--primary-color);
    }

}

.sc-button.btn-5:hover,
.sc-button.fl-button:hover{
    border: 1px solid var(--primary-color3);
    background-color: var(--primary-color3);
    // box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    // box-shadow: 0px 14px 14px rgb(16 16 16 / 18%);
    box-shadow: 0px 14px 14px rgb(255 101 101 / 18%);
}

.btn-1 {
    background: #232629;
    z-index: 1;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--primary-color3);
        transition: all 0.3s ease;
    }
}

.btn-1:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
  
}

/* Page Title Inner
-------------------------------------------------------------- */
.flat-title-page {
    &.inner {
        padding: 171px 0 188px;
        position       : relative;
        background: url(./../../assets/images/slider/slider-1.jpg) center center no-repeat;
        background-size: cover;
    }
}
.overlay {
    background: linear-gradient(72.76deg, rgba(35, 38, 41, 0.9) 35.67%, rgba(39, 43, 46, 0) 66.03%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-title-heading .heading {
    line-height: 87px;
    color      : var(--primary-color);
    margin-bottom: 8px;
}

.sc-btn-button .sc-button{
    height: 40px;
    line-height: 40px;
    padding: 0 18.5px;
}

/* sc card article 
--------------------------------------------------*/
.blog-box {
    @include transition3;
    &:hover {
        -webkit-transform: translateY(-5px);
        transform        : translateY(-5px);
        // box-shadow: 1px -3px 16px rgb(47 83 109 / 12%);
    }
    &.style-article {
        &:hover {
            -webkit-transform: translateY(0px);
            transform        : translateY(0px);
            box-shadow       : none;
        }
    } 
    .content {
        padding: 21px 0px 0;
        margin-bottom: 30px;
        
        h3 {
            text-transform: capitalize;
            margin-bottom : 33px;
        }
    }  
    .media {
        overflow     : hidden;
        img {
            width             : 100%;
            object-fit        : cover;
        }
    }
}

.meta {
    margin-bottom: 6px;
    .user {
        margin-right: 15px;  
        &::after {
            content:'I';
            margin-left: 14px;  
            color: var(--primary-color4);
        }
    }
}

/* swiper button */
.swiper-button-next.btn-slide-next::after {
    content: "\f178";
}

 .swiper-button-prev.btn-slide-prev::after {
    content: "\f177";
}

 .swiper-button-prev.btn-slide-prev.active::after,
.swiper-button-next.btn-slide-next.active::after,
 .swiper-button-prev.btn-slide-prev:hover:after,
.swiper-button-next.btn-slide-next:hover:after{
    color: #fff;
}
 .swiper-button-prev.btn-slide-prev.active,
.swiper-button-next.btn-slide-next.active,
 .swiper-button-next.btn-slide-next:hover,
 .swiper-button-prev.btn-slide-prev:hover{
    background: var(--primary-color3);
    border: 1px solid var(--primary-color3);
}


 .swiper-button-next.btn-slide-next,
 .swiper-button-prev.btn-slide-prev{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
    -webkit-transition: all 0.3s ease-in-out;
    background: #fff;
    border: 1px solid var(--primary-color6);
}

// .is_dark .swiper-button-next.btn-slide-next ,
// .is_dark  .swiper-button-prev.btn-slide-prev {
//     background: #FFFFFF08;
//     border-color:  #FFFFFF33;
// }

.swiper-button-next.btn-slide-next::after, 
 .swiper-button-prev.btn-slide-prev::after {
    font-family: "Font Awesome 5 Pro";
    color: var(--primary-color3);
    font-weight: 300;
    font-size: 28px;
    opacity: 1;
}

// .is_dark .swiper-button-next.btn-slide-next:after ,
// .is_dark  .swiper-button-prev.btn-slide-prev:after {
//     color: #fff;
// }

.flat-auctions.dark-style .swiper-button-next.btn-slide-next,
.swiper-button-next.btn-slide-next {
    right: 0px;
    top: 98%;
}

.swiper-button-prev.btn-slide-prev {
    right: 100px;
    top: 98%;
    left: auto;
}

// swiper slider 
.slider .swiper-button-next,
.slider .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    top  : 50%;
    z-index: 99;
    opacity: 0;
    @include transition3;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: absolute;
    background: var(--primary-color3);
    i {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
    }
    &.swiper-button-disabled {
        background: rgba(255, 255, 255, 0.031372549);
        border-color: rgba(255, 255, 255,1);
        opacity: 0;
    }
}

.slider.slider2  .btn-slide-next,
.slider.slider2  .btn-slide-prev {
    top  : 40%;
}

.slider .swiper-button-next {
    right: 30px; 
    left : auto; 
}
.slider  .swiper-button-prev {
    right: unset; 
    left : 30px; 
}

.slider:hover .swiper-button-next,
.slider:hover .swiper-button-prev {
    opacity: 1;
    @include transition3;
    &.swiper-button-disabled {
        opacity: 1;
    }
}


// slider home 01

.slider {
    cursor:e-resize;
    position: relative;
    overflow: hidden;
    background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);

    .img-slider img{
        position: absolute;
        width: 100%;
        // height: 960px;
        height: 100%;
        top: 0;
        left: 0;
    }
    .slider-item {
        position: relative;
        padding: 168px 0 192px;
        .content {
            padding-left: 15px;
            padding-right: 15px;
            .heading {
                margin-bottom: 46px;
            }
            h1 {
                cursor: text;
                text-transform: capitalize;
                color: #fff;
            }
        }
    }
}




/* animation slider */
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    transform: translateY(400px);
}

.mainslider.home .image{
    transform: translateX(400px);
}
.mainslider.home .image,
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    opacity: 0;
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
    -moz-transition   : transform 1000ms ease, opacity 1000ms ease;
    -ms-transition    : transform 1000ms ease, opacity 1000ms ease;
    -o-transition     : transform 1000ms ease, opacity 1000ms ease;
    transition        : transform 1000ms ease, opacity 1000ms ease;
    transition-delay  : 1000ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    transform: translateY(0) !important;
}

.mainslider.home .swiper-slide-active .image{
    transform: translateX(0px);
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .heading {
    transition-delay: 700ms !important;
}

.swiper-slide-active .flat-slider .sub-heading {
    transition-delay: 900ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider {
    transition-delay: 1000ms;
}

/* Blog Page
-------------------------------------------------------------- */

.flat-blog-details {
    .img-one {
        margin-bottom: 41px;
    }
    .post {
        .meta {
            margin-bottom: 6px;
        }
        h2 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 33px;
            line-height: 39px;
        }
        .sc-card-article {
            margin-bottom: 40px;
            padding-bottom: 29px;
            border-bottom: 1px solid var(--primary-color6);
        }
        .text {
            margin-bottom: 40px;
            padding-left: 1px;
        }
        .post-image {
            display         : flex;
            margin-bottom   : 33.2px;
            background-color: var(--primary-color10) ;
            padding         : 0px 0 0px 0;
            border-radius   : 5px;
            .thumb {
                width: 39.3%;
                padding-left: 50px;
                padding-top: 9px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 130px;
                    left: 0;
                    top: 0px;
                    background: #F6F6F6;
                }          
            }
            .box-title {
                padding-right: 40px;
                h4 {
                    margin-bottom: 18px;
                    margin-left  : 2px;
                    line-height: 30px;
                }
                h3 {
                    line-height: 30px;
                }
            }
        }
        .img-box {
            display: flex;
            margin-bottom: 37px;
            .img-blog {
                margin-right: 30px;
            }
            ul {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                margin-top   : -3px;
                &:last-child {
                    margin-bottom: 0;
                }
                li {
                    i {
                        margin-right: 10px;
                        font-size: 16px;
                        color: var(--primary-color3);
                    }
                    h4 {
                        font-weight: 400;
                    }
                }
            }
        }
        .video-blog {
            margin-bottom: 45px;
        }
        .title-h3  {
            margin-bottom: 16px;
        }
        .text-2 {
            padding-left: 2px;
            margin-bottom: 40px;
        }
        .text-boder {
            border-bottom: 1px solid var(--primary-color6);
            padding-bottom: 19px;
            margin-bottom: 30px;
        }
        .infor-row {
            margin-bottom  : 53px;
            .tags {
                .title-tag {                 
                    margin-right: 29px;         
                }
                
                a {
                    padding: 15px 19.5px 13px;
                    font-size: 12px;
                    font-weight: 400;
                    margin-right: 6px;
                    background-color: var(--primary-color8);
                    color: var(--primary-color4);
                    
                    &.active,
                    &:hover {
                        background-color: var(--primary-color3);
                        color           : #fff;
                    }
                }
                
            }
        }
    }
}

.blog-details {
    .post {
        padding: 0 200px;
    }
}

// flat video
.post-video {
    position: relative;
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background: var(--primary-color3);
        border-radius: 50%;
        text-align: center;
        line-height: 110px;
        i {
            font-size: 24px;
        }
        &:hover {
            background: var(--primary-color2);
            span {
                path {
                    fill:#fff;
                    @include transition3;
                }
            }
        }
    }
}

.ripple::before,
.ripple::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.849);
    -o-box-shadow: 0 0px 0 0px rgba(255, 255, 255, 0.883);
    box-shadow: 0px 0px 0px 30px rgb(255 255 255 / 10%);
    -webkit-animation: ripple 2s infinite;
    animation: ripple 2s infinite;
}

.ripple::before {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ripple::after {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#comments {
    .title-comment {
        margin-bottom: 14px;
    }
    .comment-list {
        .comment-01 {
            border-bottom: 1px solid var(--primary-color6);
            padding-bottom: 40px;
            margin-bottom: 47px;
            &:last-child {
                margin: 0;
                border: unset;
                padding-bottom: 35px;
            }
        }

        .comment-avatar {
            width: 29%;
            padding-top: 3px;
        }
        .comment-content {
            .comment-author {
                margin-bottom: 18px;
            }
        }
    }
    .title-comment2 {
        margin-bottom: 16px;
    }
    .comment-form {
        fieldset {
            position     : relative;
            overflow     : hidden;
            width        : 100%;
            margin-bottom: 11px;

            &.name,
            &.email {
                float: left;
                width: 50%;
            }
            &.email {
                padding-left: 10px;
            }
            &.name {
                padding-right: 10px;
            }          
        }
        .style-text {
            width: 50%;
            float: left;
        }
        .phone-wrap,
        .name-wrap {
            padding-right: 15px;
        }
        .email-wrap,
        .site-wrap {
            padding-left: 15px;
        } 
        textarea  {
            padding: 7px 19px 17px ;
        }
        .text-call {
            text-transform: capitalize;
            margin-top: 21px;
            margin-bottom: 50px; 
            padding-right: 200px; 
            &::before {
                content: '*';
                color: #B14233;
                margin-left: 1px;
            }
        }
        .button {
            padding: 14.5px 34px;
        }
    }
}

// flat practice
.flat-practice {
    padding-bottom: 122px;
    .practice-box {
        &:hover {
            .box-img {
                .icon-practice {
                    opacity: 1;
                    z-index: 99;
                    top: 50%;
                    transition-delay: 0.5s;
                }
                &::before {
                    transform: scale(1, 1);
                    transform-origin: center;
                }
            }
            .content h3 a{
                color: var(--primary-color3);
            }
        }
        .box-img {
            .icon-practice {
                top: 0%;
                transform: translate(-50%,-50%);
                left: 50%;
                opacity: 0;
                @include transition5;
            }
            &::before {
                content: '';
                @include absolute;
                background: rgba(177, 66, 51, 0.5);
                width: 100%;
                height: 100%;
                @include transition3;
                z-index: 1;
                transform: scale(0, 0);
                transition: transform 1000ms ease;
            }
        }
        .content {
            padding: 18px 0px 0 0px;
            margin-bottom: 0px;
            margin-left: -2px;
            align-items: center;
            h1 {
                color: var(--primary-color3);
            }
            h3 {
                text-transform: unset;
                margin-bottom: 0;
                span {
                    margin-left: 6px;
                }
            }
            p {
                line-height: unset;
                margin: 6px 0 11px 5px ;
            }
            .sc-btn-button {
                .sc-button {
                    background: #F6F6F6;
                    height: 46px;
                    line-height: 46px;
                    padding: 1px 14px 0;
                    i {
                        color: var(--primary-color2);
                        font-size: 20px;
                        
                    }
                    &:hover {
                        i {
                            animation: 0.3s link-icon linear;
                            color: var(--primary-color);
                        }
                        
                    }
                }
            }  
        }
    }  
}

.flat-themes .swiper-pagination,
.flat-practice .swiper-pagination {
    width: 100%;
    margin-top: 50px;
    position: relative;
    bottom: 0 !important; 
}
.flat-themes .swiper-pagination-bullet,
.flat-practice .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #23262933;
    opacity: 1;
    margin: 0 10px !important;
    z-index: 99;
    &::before {
        @include transition3;
        position: absolute;
        transform: translate(-52%, -57%);
        top: 50%;
        border-radius: 50%;
        content: "";
        width : 17px;
        height: 17px;
        border: 1px solid #23262933;
        overflow: visible;
    }
}

.flat-case .swiper-pagination {
    margin-top: 63px;
    margin-bottom: 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color3) !important;
    &::before {
        border: 1px solid var(--primary-color3);
    }
}

// flat about
.image-1 {
    transform: translate(0px, 0px);
    transition: transform 300ms ease;
    transform-origin: top;
    .image-wrapper:hover & {
      transform: translate(5px,0);
    }
}
.image-2 {
    transform: translate(10px, 0px);
    transition: transform 300ms ease;
    .image-wrapper:hover & {
      transform: translate(5px,0);
    }
}

.flat-about {
    position: relative;
    padding-bottom: 120px;

   .mark-a {
       position: absolute;
       top: -10.8%;
       right: 9%;
       font-size: 530px;
       font-weight: 700;
       color: #B1423312;
   }
    .about-box {
        padding: 52px 0px 0 68px;
        h2 {
            line-height: 58px;
            margin-bottom: 14px;
        }
        h4 {
            margin-left: 2px;
            padding-bottom: 27px;
            margin-bottom: 40px;
            border-bottom: 1px solid #23262912
        }
        p {
            padding-right: 15px;
            margin-bottom: 40px;
        }
        .img-author {
            background: #fff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            position: relative;
            overflow: hidden;
            margin-right: -29px;
            &::before {
                content: '';
                @include absolute;
                background: rgba(177, 66, 51, 0.5);
                width: 100%;
                height: 100%;
                @include transition3;
                z-index: 1;
                transform: scale(0, 0);
                transition: transform 1000ms ease; 
                border-radius: 50%;
            }
            &:hover {
                z-index: 9;
                &::before  {
                    transform: scale(1, 1);
                    transform-origin: center;
                }
            }
        }
        .img-signature {
            margin-left: 20px;
        }
    }
}

.flat-icon-practice {
    background: #B1423312;
    padding-bottom: 90px;
    .wrapper-icon {
        height: 100px;
        margin-bottom: 30px;
        .box-icon {
            position: relative;
            justify-content: center;
            background-color: #fff;
            width: 100px;
            margin-right: 3px;
            z-index: 9;
            @include transition3;
            svg {
                fill:  #B14233;
                @include transition3;
                transition: all 0.6s ease;
            }
        }
        .content {
            padding: 0px 29px 0 24px;
            background-color: #fff;
            width: 267px;
            @include transition3;
            h3 {
                @include transition3;
            }
            i {
                @include transition3;
                font-size: 20px;
                color: var(--primary-color4);
                z-index: 999999;
            }
        }
        &:hover {
            .box-icon {
                background-color: var(--primary-color3);
                svg {
                    fill:  #fff;
                    transform: rotateY(180deg);
                }
            }
            .content {
                background-color: var(--primary-color3);
                h3 {
                    color: var(--primary-color);
                    z-index: 999;
                }
                i {
                    animation: 0.4s link-icon linear;
                    color: var(--primary-color);
                }
            }   
        }
    }
}


  

