
@use './abstracts/' as *;

.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1550px;
    max-width    : 100%;
}

.tf-section {
    padding: 118px 0;
    @include transition3;
}

/* button 
--------------------------------------------------*/
.sc-button {
    display      : inline-block;
    border       : 1px solid var(--primary-color2);
    color        : #fff;
    background-color: var(--primary-color2);
    box-sizing   : border-box;
    padding      : 0px 33px;
    height       : 50px;
    line-height  : 50px;
    @include transition3;
    span {
        font-weight       : 700;
        font-size         : 16px;
        position          : relative;
        text-transform    : capitalize;
        @include transition3;
    }
    &:hover,
    &.active {
        border-color: transparent;
        outline: 0 none;
    }
}


.sc-button.btn-2 {
    background-color: transparent;
    border: 1px solid var(--primary-color6);
}

.sc-button span,
.sc-button.btn-7:hover span,
.is_dark .sc-button {
    color: #fff;
}

.is_dark .sc-button.btn-2:hover,
.sc-button.btn-5:hover,
.is_dark .sc-button.btn-1:hover,
.sc-button.fl-button:hover{
    border: 1px solid var(--primary-color3);
    background-color: var(--primary-color3);
    // box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
    // box-shadow: 0px 14px 14px rgb(16 16 16 / 18%);
    box-shadow: 0px 14px 14px rgb(255 101 101 / 18%);
}

.btn-1 {
    background: #232629;
    z-index: 1;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--primary-color3);
        transition: all 0.3s ease;
    }
}

.btn-1:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
}



/* Page Title Inner
-------------------------------------------------------------- */
.flat-title-page {
    &.inner {
        padding: 171px 0 188px;
        position       : relative;
        background: url(./../../assets/images/slider/slider-1.jpg) center center no-repeat;
        background-size: cover;
    }
}
.overlay {
    background: linear-gradient(72.76deg, rgba(35, 38, 41, 0.9) 35.67%, rgba(39, 43, 46, 0) 66.03%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-title-heading .heading {
    line-height: 87px;
    color      : var(--primary-color);
    margin-bottom: 8px;
}

.sc-btn-button .sc-button{
    height: 40px;
    line-height: 40px;
    padding: 0 18.5px;
}

/* sc card article 
--------------------------------------------------*/
.blog-box {
    // -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    // transition        : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    @include transition3;
    &:hover {
        -webkit-transform: translateY(-5px);
        transform        : translateY(-5px);
        box-shadow: 1px -3px 16px rgb(47 83 109 / 12%);
    }
    &.style-article {
        &:hover {
            -webkit-transform: translateY(0px);
            transform        : translateY(0px);
            box-shadow       : none;
        }
    } 
    .content {
        padding: 21px 0px 0;
        margin-bottom: 30px;
        .meta {
            margin-bottom: 6px;
            .user {
                margin-right: 15px;  
                &::after {
                    content:'I';
                    margin-left: 14px;  
                    color: var(--primary-color4);
                }
            }
        }
        h3 {
            text-transform: capitalize;
            margin-bottom : 33px;
        }
    }  
    .media{
        overflow     : hidden;
        img {
            width             : 100%;
            object-fit        : cover;
        }
    }
}

.meta-info {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    .author {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        
        .avatar {
            width        : 35px;
            height       : 35px;
            border-radius: 50%;
            margin-right : 8.5px;
            position: relative;
            flex-shrink  : 0;  
            img {
                border-radius: 50%; 
            }
            &::before {
                border-radius: 50%;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px; 
                display: inline-block;
                border-top: 1px solid transparent;
                border-left: 1px solid #130518;
                border-right: 1px solid #130518;
                border-bottom: 1px solid #130518;
                transform: rotate(45deg);     
            }
            // countdown home 01
            .check {
                position: absolute;
                bottom: 5px;
                right: -6px;
            }               
        }
        .info {
            h5 {
                line-height: 20px;
                margin-top: 1px;
                color      : var(--primary-color4);
                font-family: 'Open Sans';
                font-weight: 600;
            }
            .date {
                color      : var(--primary-color4);
                font-size  : 13px;
                line-height: 20px;
                font-weight: 500;
                letter-spacing: -0.1px;
                span {
                    color  : var(--primary-color8);
                }
            }
        }
    }
} 

.is_dark .meta-info .author .info .date span {
    font-weight: 400;
}
.meta-info.style .author .avatar::before,
.is_dark .meta-info .author .avatar::before {
    display: none;
}



/* swiper button */
.swiper-button-next.btn-slide-next::after {
    content: "\f178";
}

 .swiper-button-prev.btn-slide-prev::after {
    content: "\f177";
}

 .swiper-button-prev.btn-slide-prev.active::after,
.swiper-button-next.btn-slide-next.active::after,
 .swiper-button-prev.btn-slide-prev:hover:after,
.swiper-button-next.btn-slide-next:hover:after{
    color: #fff;
}
 .swiper-button-prev.btn-slide-prev.active,
.swiper-button-next.btn-slide-next.active,
 .swiper-button-next.btn-slide-next:hover,
 .swiper-button-prev.btn-slide-prev:hover{
    background: var(--primary-color3);
    border: 1px solid var(--primary-color3);
}

.swiper-button-prev.btn-slide-prev.active::after,
.swiper-button-next.btn-slide-next.active::after,
.swiper-button-prev.btn-slide-prev:hover:after,
 .swiper-button-next.btn-slide-next:hover:after{
    color: #fff;
}

 .swiper-button-next.btn-slide-next,
 .swiper-button-prev.btn-slide-prev{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
    -webkit-transition: all 0.3s ease-in-out;
    background: #fff;
    border: 1px solid var(--primary-color6);
}

.is_dark .swiper-button-next.btn-slide-next ,
.is_dark  .swiper-button-prev.btn-slide-prev {
    background: #FFFFFF08;
    border-color:  #FFFFFF33;
}

.swiper-button-next.btn-slide-next::after, 
 .swiper-button-prev.btn-slide-prev::after {
    font-family: "Font Awesome 5 Pro";
    color: var(--primary-color3);
    font-weight: 300;
    font-size: 28px;
    opacity: 1;
}

.is_dark .swiper-button-next.btn-slide-next:after ,
.is_dark  .swiper-button-prev.btn-slide-prev:after {
    // color: #FFFFFF33;
    color: #fff;
}

.flat-auctions.dark-style .swiper-button-next.btn-slide-next,
.swiper-button-next.btn-slide-next {
    right: 0px;
    top: 98%;
}

.swiper-button-prev.btn-slide-prev {
    right: 100px;
    top: 98%;
    left: auto;
}


// slider home 01
.slider {
    .mark-page2 {
        bottom: 0;
        top   : 28.1%;
    }
    .mark-page3 {
        top: 12.6%
    }
    .mark-page4 {
        right: 8.7%;
        bottom: 22.1%;
    }
    .mark-page8 {
        bottom: 6.6%;
        left: 1.4%;
    }
    .mark-page9 {
        bottom: 0;
        left: 0;
    }
    .mark-slider-01 {
        margin-left: 39px;
    }
    .mark-slider-02 {
        top: 29.5%;
        right: 50.5%;
        z-index: -1;
    }
    .img-slider {
        border: 3px dashed var(--primary-color6);
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 57px;
        padding: 17px 16px 27px;
        z-index: 0;
        .bg-color {
            background: #fff;
            padding:  36px;
            border-radius: 10px; 
            margin-top   : -62px;
        }
        .box-img {
            padding: 0 10px;
            .img-1 {
                margin-right: 5px;  
            }
            .img-2 {
                margin-left: 5px;  
            }
            img {
                border-radius: 10px; 
            }
        }  
    }
}

.slider {
    cursor:e-resize;
    position: relative;
    overflow: hidden;
    background: linear-gradient(79.57deg, rgba(19, 5, 24, 0.07) 10.75%, rgba(119, 89, 243, 0.07) 53.13%, rgba(19, 5, 24, 0.07) 106.55%);
    padding: 101px 0 284px;
    .wrap-heading {
        .content {
            width: 50.9%;
            margin-top: 22.8%;
            padding-left: 12.05%;
            h1 {
                cursor: text;
                text-transform: capitalize;
                line-height: 87px;
                margin-bottom: 7px;
                color: #7759F3;
                .s1 {
                    background: linear-gradient(91.5deg, #7759F3 41.52%, #8E2AC3 96.58%);
                    color:  var(--primary-color);
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 3px transparent; 
                }
                .s2 {
                    text-transform: none;   
                    position: relative;
                    box-sizing: border-box;
                    margin-left: -1px;
                    background: #edeaf6;
                    background-clip: padding-box; 
                    border: solid 2x transparent; 
                    border-radius: 1em;
                    display: inline-table;
                    line-height: 54px;
                    padding-bottom: 6px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                        z-index: -1;
                        margin: -2px; 
                        border-radius: inherit;
                        background: linear-gradient(180deg, #7759F3 0%, #3AFCC2 100%);
                    }
                }
            }
            p {
                cursor: text;
                font-size: 18px;
                font-family: "Inter", sans-serif;
                text-transform: capitalize;
                margin-left: 3px;
                margin-bottom: 41px;
            }
            .sc-button {              
                &.style-1 {
                    margin-left: 3px;
                    margin-right: 18px;
                    padding: 19px 24px;
                }
                &.style-2 {
                    padding: 19px 29px;
                
                }
            }
        }
    }
}

.is_dark {
    .slider {
        .wrap-heading {
            .content {
                h1 {
                    color: #fff;
                    .s2 {
                        background: #130518;
                    }
                }
            }
        }
    }
}

// slider home 02
.slider {
    &.style-home2 {
        overflow: unset;
        padding: 139px 0 119px;
        .flat-wrap {
            padding: 27px;
            border: 3px dashed rgba(255, 255, 255, 0.07);
            border-radius: 10px;
            z-index: 5;
            .wrap-heading  {
                background-color: #AAADEC;
                border-radius: 10px;
                .content {
                    width: 49.85%;
                    margin-top: 9.5%;
                    padding-left: 9.7%; 
                    margin-bottom: 9.5%;  
                    position: relative;
                    z-index: 99999;
                    h1 {
                        color: #fff;
                        .s1 {
                            background: unset;
                            color: var(--primary-color3);
                        }
                        .s2 {
                            background: #AAADEC;
                        }   
                    }
                    .sc-button {   
                        z-index: 99999;             
                        &.style-1 {
                            margin-left: 3px;
                            margin-right: 18px;
                            padding: 19px 24px;
                        }
                        &.style-2 {
                            padding: 19px 29px;
                        }
                    }          
                } 
                .image {
                    margin-top: 2.5%;
                }
            }
        }   
    }
}

.slider {
    &.style-home2 {
        .mark-page8 {
            bottom: -17.5%;
            left: 0.8%;
        }
        .mark-page2 {
            top: 34.5%;
            left: 8%;
            z-index: 9;
        }
        .mark-page3 {
            left: 37.9%;
            top: 23%;
            z-index: 9;
        }
        .mark-page4 {
            bottom: 9.5%;
        }
        .mark-page5 {
            z-index: 2;
        }
        .mark-page9 {
            bottom: -5%;
        }
        .mark-slider-02 {  
            top: 15%;
            right: 7.7%;
            z-index: 1;
        }
    }
}

// slider home 03
.slider {
    &.style-home3 {
        .flat-wrap {
            padding: unset;
            border: unset;
            .wrap-heading  {
                background-color: unset;
                .content {
                    width: 47%;
                    margin-top: 11.1%;
                    padding-left: 11.3%; 
                    h1 {
                        color: #000;
                        .s2 {
                            background: #edeaf6;
                        }
                    }
                }
                .img-slider {
                    margin-top: 0;
                    padding: 30px 30px 30px 47px;
                    border: unset;
                    .box-img {
                        background: #D9D1FA;
                        padding: 0 11px 0 31px;
                        margin-top: 0;
                        border-radius: 10px;  
                        position: relative;
                        .image {
                        margin-top: 0;
                            img {
                                margin-top: -13%;
                                margin-bottom: -11.9%;
                            }
                        } 
                        &::before {
                            content: "";
                            width: calc(100% + 80px);
                            height: calc(100% + 64px);
                            border: 3px dashed rgba(119, 89, 243, 0.16);
                            position: absolute;
                            top: 50%;
                            left: 48.5%;
                            transform: translate(-50%, -50%);
                        }                    
                    }
                }  
            }
        }
        .mark-page8 {
            bottom: -13%;
            left: -5.2%;
        }
    }
}

.is_dark {
    .slider {
        &.style-home3 {
            .flat-wrap {
                .wrap-heading  {
                    .content {
                        h1 {
                            color: #fff;
                            .s2 {
                                background: #0E1B3E;
                            }
                        }
                    }
                    .img-slider {
                        .box-img {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* animation slider */
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    transform: translateY(400px);
}

.mainslider.home .image{
    transform: translateX(400px);
}
.mainslider.home .image,
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    opacity: 0;
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
    -moz-transition   : transform 1000ms ease, opacity 1000ms ease;
    -ms-transition    : transform 1000ms ease, opacity 1000ms ease;
    -o-transition     : transform 1000ms ease, opacity 1000ms ease;
    transition        : transform 1000ms ease, opacity 1000ms ease;
    transition-delay  : 1000ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    transform: translateY(0) !important;
}

.mainslider.home .swiper-slide-active .image{
    transform: translateX(0px);
}

.mainslider.home .swiper-slide-active .image,
.swiper-slide-active .flat-slider .heading {
    transition-delay: 700ms !important;
}

.swiper-slide-active .flat-slider .sub-heading {
    transition-delay: 900ms;
}

.swiper-slide-active .flat-slider .flat-bt-slider {
    transition-delay: 1100ms;
}

/* Blog Page
-------------------------------------------------------------- */

.flat-blog-details {
    .post {
        .media {
            &.style {
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(19, 5, 24, 0.07);
                box-sizing: border-box;
                padding: 20.8px 20px;
                border-radius: 5px;
                margin-bottom: 20px;
            }
        }
    }
}

.flat-blog-details {
    .post {
        h2 {
            font-weight: 500;
            margin-bottom: 16px;
        }
        .sc-card-article {
            margin-bottom: 40px;
            padding-bottom: 29px;
            border-bottom: 1px solid var(--primary-color6);
        }
        .text {
            margin-bottom: 40px;
        }
        .img-box {
            padding-left: 2px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 38px;
            ul {
                display: flex;
                margin-bottom: 29px;
                margin-top: -1px;
                &:last-child {
                    margin-bottom: 0;
                }
                li {
                    img {
                        margin-right: 19.5px;
                    }
                    h3 {
                        font-weight: 600;
                    }
                }
            }
        }
        .post-image {
            display         : flex;
            margin-bottom   : 42.2px;
            background-color: var(--primary-color10) ;
            padding         : 44px 0 37px 0;
            border-radius   : 5px;
            border: 1px solid  var(--primary-color6);
            .thumb {
                width        : 28.3%;
                padding-left: 49px;
                padding-top: 9px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 90px;
                    left: 0;
                    top: 5px;
                    background-color: var(--primary-color3);
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }          
            }
            .title-author {
                margin-bottom: 17px;
                margin-left  : 2px;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
            }
        }
        .text-1 {
            margin-bottom: 36px;
        }
        .text-boder {
            border-bottom: 1px solid var(--primary-color6);
            padding-bottom: 19px;
            margin-bottom: 30px;
        }
        .infor-row {
            justify-content: space-between;
            margin-bottom  : 46px;
            .tags {
                h4 {                 
                    margin-right: 19.5px;
                    margin-left: 0.5px;
                    font-weight: 600;   
                    align-self: center;             
                }
                div {
                    a {
                        padding         : 14px 18px 12px;
                        border-radius   : 5px;                      
                        font-size       : 12px;
                        font-weight     : 400;
                        margin-right    : 24px;
                        background-color: var(--primary-color10);
                        color           : var(--primary-color4);
                        border: 1px solid var(--primary-color6);
                        &.active,
                        &:hover {
                            background-color: var(--primary-color3);
                            color           : #fff;
                        }
                    }
                }
            }
        }
        .button {
            box-shadow: 0px 14px 14px rgba(95, 58, 252, 0.18);
        }
    }
}

#comments {
    .title-comment {
        margin-left: -1px;
        margin-bottom: 19px;
    }
    .comment-list {
        margin-bottom: 42px;
        .comment-avatar {
            width: 29%;
            padding-top: 3px;
        }
        .comment-content {
            .comment-text {
                border-bottom: 1px solid var(--primary-color6);
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .comment-icon {
                font-size: 14px;
                font-weight: 400; 
                .icon-one {
                    margin-right: 42px ;
                    &::before {
                        content: '\f3e5';
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 700;
                        margin-right: 6px;
                        margin-left: 2px;
                        font-size: 14px;
                    }
                }
                .icon-two {
                    &::before {
                        content: '\f004';
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 700;
                        margin-right: 6px;
                        margin-left: 2px;
                        font-size: 14px;
                    }
                }   
            }
        }
    }
    .title-comment2 {
        margin-bottom: 21px;
    }
    .comment-form {
        fieldset {
            position     : relative;
            overflow     : hidden;
            width        : 100%;
            margin-bottom: 11px;
            &.name,
            &.email {
                float: left;
                width: 50%;
            }
            &.email {
                padding-left: 10px;
            }
            &.name {
                padding-right: 10px;
            }          
        }
        .style-text {
            width: 50%;
            float: left;
        }
        .phone-wrap,
        .name-wrap {
            padding-right: 15px;
        }
        .email-wrap,
        .site-wrap {
            padding-left: 15px;
        } 
        textarea  {
            padding: 7px 19px 17px ;
        }
        .text-call {
            text-transform: capitalize;
            margin-top: 21px;
            margin-bottom: 50px; 
            padding-right: 200px; 
            &::before {
                content: '*';
                color: #B14233;
                margin-left: 1px;
            }
        }
    }
}
